@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: "bg-neutral-50 bg-[radial-gradient(ellipse_80%80%_at_50%-20%,rgba(0,128,255,.40),rgba(0,191,255,.20))] transition-colors duration-300 dark:text-white dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%80%_at_50%-20%,rgba(0,128,255,.20),rgba(255,255,255,0))]"
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}
html {
  background-color: #f9f9f9;
  color: #333333;
  scroll-behavior: smooth;
}

html.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}